.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 16px;
}

.content {
  max-width: 960px;
  margin: auto;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.task-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

button {
  padding: 10px 20px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.task-list {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.task-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item:last-child {
  border-bottom: none;
}

.task-editing {
  display: flex;
  gap: 10px;
  align-items: center;
}
.task-view {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: space-between;
}
.task-info p {
  margin: 0;
  color: #333;
}

.task-status {
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 0.875em;
}

.done {
  background-color: #28a745;
}

.to-do {
  background-color: #ffc107;
}

.pending {
  background-color: #17a2b8;
}

.no-tasks {
  text-align: center;
  color: #666;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
